@import "../../element-scss/common/var.scss";

// 提货报价
.user {
	.form-inline {
		height: 32px;
		margin-bottom: 10px;
		.el-input {
			max-width: 180px;
		}
	}

	.cell {
		text-align: center;
	}

	.user-page {
		margin-top: 20px;
		text-align: center;
		.el-pagination__total {
			margin: 0 10px 0 20px;
		}
	}

	.btns-grounp-right {
		margin-bottom: 10px;
	}

	.dtl {
		.el-dialog__title {
			color: $--color-primary;
		}
		.el-dialog__body {
			padding: 10px 20px 30px;
		}

		.el-descriptions__title {
			color: $text-muted;
		}

		.el-descriptions + .el-descriptions {
			margin-top: 20px;
		}

		table {
			table-layout: fixed;
		}
	}

	.form-btn-group {
		margin-bottom: 10px;
	}

	.form-validate {
		.text-danger {
			position: absolute;
			margin-left: 10px;
			white-space: nowrap;
		}
	}

	.imgs-cont {
		display: flex;
		justify-content: space-around;
		align-items: center;
		margin-bottom: 10px;
	}

	.imgs-cont-l {
		flex: 0 0 200px;
		align-self: stretch;
		border: $--descriptions-table-border;
		border-right: none;
		img {
			display: inline-block;
			height: 100%;
			width: 100%;
			vertical-align: middle;
			height: 139px;
			box-sizing: border-box;
		}
	}

	.imgs-cont-r {
		flex: 1;
	}

	.file-upload{

		.del{
			position: absolute;
			right: 15px;
			margin-top: -38px;
		}
		.el-form-item--small.el-form-item{
			margin-bottom: 5px;
		}

	}

}
